/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */
.navbar-brand ,.navbar-nav>li>a {
    padding-left: 30px;
    padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
} 
.navbar-nav>.active>a {
  opacity:.6;
}
.innercontainer{
  width: 1024px;
}
.back-doctores{
  background-image: url('/assets/010.png');
  background-repeat: no-repeat;
  height: 550px;
  background-position: right bottom;
  vertical-align: top;
  background-color: #fff;
  padding-top: 170px;
}
.patientback{
  background-image: url('/assets/009.png');
  background-repeat: no-repeat;

  background-position: right bottom;
  vertical-align: top;
  padding-top: 130px;
  padding-bottom: 150px;


}
.lead p{
    line-height: 30px !important;

}
.darkgrey{
    background-color: #eee !important;
    margin-bottom: 0 !important;
}
.grey{
  background-color: #f9f9f9 !important;


}
.white{
   color: #fff !important;

}
.white b{
  font-weight: 400;
}
.green{
   color: #83d6d3 !important;

}
.green b{
  font-weight: 500;
}
.pink{
  color: #e46d82 !important;
}
.pink b{
  font-weight: 500;
}
.sub-dos{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
h1{
  font-weight: 100 !important;
}
.col-lg-4 p{
  font-size: 13px;

}
/*.col-lg-4 img{
  padding-bottom: 40px;
}
*/.col-lg-3 img{
  padding-bottom: 20px;
}
.darkgrey .col-lg-4 {
  height: 10px;

}
.grey1{
   background-color: #f1f1f1;
}
.grey2{
   background-color: #e3e3e3;
}
.greenback{
    background-color: #83d6d3 !important  ; 

}
.pinkback{
    background-color: #e46d82;

}
.yellowback{
    background-color: #feb192;

}
.selling{
  font-weight: 300;
  font-size: 18px;
  
}
.greensubs{

  padding:60px;
  background-color: #83d6d3 !important; 
  

}
.btn-primary{
  background-color: #a2e0de !important;
  border-color: #a2e0de !important;
}
.greenlight{
  background-color: #a5e1df !important;
}
.greenlight {
  line-height: 25px !important;  
  color: #fff !important;
  font-size: 14px !important;
  padding: 30px;
}

.darkgrey .col-lg-3 {
  height: 10px;

}
.nav1{
  height: 10px;
}
.nav2{

  padding-top: 20px;
  padding-bottom: 20px;
}
.men1{
  border-left: solid 1px white;
  border-right: solid 1px white;
}

.text-condensed{
  line-height: 20px;
  font-size: 14px;
}
.minicondensed{
  line-height: 10px;
  font-weight: 100;
  font-size: 24px;

}
.logo{
  background-image: url('assets/012.png');
  width: 100px;
  height: 100px;
}
.menpill{
  font-size: 12px;
}


.roselight{
  background-color: #e66d81 !important;
  
}
.roselight {
  line-height: 25px !important;  
  color: #fff !important;
  font-size: 14px !important;
}

.rosedark{
  background-color: #ca6071 !important;
  
}
.rosedark {
  line-height: 25px !important;  
  color: #fff !important;
  font-size: 14px !important;
  padding: 30px;
  text-align: justify;
}
.rosedark b{
  font-weight: 400;
  font-size: 50px;
}
.rosedark p{
  letter-spacing: 1px;
    text-align: justify;

}
.top20{
  margin-top: 20px;
}
.registro{
  width:300px;
}
.modalvideo{
  width: 850px;

}
.aire30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn-facebook{
  background-color: #456091 !important;
  border-color: #456091 !important;
  color: white;
}
.btn-facebook:hover{
  color: white;
}
.pointer{
  cursor: pointer;
}
.conditions{
  padding: 20px;
  font-size: 12px;
}
.iconsell{
  margin: 20px;
}
.whiteback{
    padding: 30px;

}
.anydevice{
  height: 100px;
  margin-top: -70px;

}
.anydevice1{
  height: 30px;
  background-color: #7c8a91 !important ; 
  margin-top: -100px;
  color: white;
  font-size: 14px;


}
.greywo{
    background-color: #f9f9f9 !important;

}

.greyhard{
  background-color: #7c8a91 !important;

}
.precio{
  font-weight: 100;
}
.precio b{
    font-weight: 200;

}
.preciorosa{
  color: white;
  font-size: 14px;
  padding-top: 50px;
}
.padding30{
  padding-top: 30px;
}
.condensedhigh{
  font-size: 80px;
  font-weight: 100;
  color: white;

}
.lhcondensed{
  line-height: 40px;
}
.condensedlow{
  font-size: 25px;
   font-weight: 100;
  color: white;
}
.registcorreo{

}
.interlineado{
  letter-spacing: 1px;
}
.nopadding{
  padding: 0;
}
.slidetext{
  color: white;
  width: 360px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}
.text30{
  font-size: 30px;
}
.slidergrey{
  background-color: #6d797f;
  height: 15px;
}





select.date-select {
width: 32% !important;
float: right;
margin-left: 3px;
}

.playerback{
  background-color: #f0f0f0;
  cursor: pointer;
}
.playbutton{
  margin-top: -45px;
}
.textoazul{
  color:#37535f !important;
}
@media (max-width: 992px) {
  .linkmen {
    margin-top: 10px;
  }
}
@media only screen and(min-device-width:320px) and (max-device-width:568px){
  .container{
    text-align: center;
  }
  .back-doctores{
    background: none;
    padding-top: 50px;
    height: 400px;
  }
  .patientback{
    background: none !important;
  }
  .mobilepadding{
    padding-top: 40px !important;
  }
  .modalvideo{
    width: 98%;
  }

}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

